 <html>
 	<head>
 		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
 	</head>
 	<body>
 		<div class="flex">
 				<img src="{{ url_for('static', filename='img/wave.png') }}" alt="wave" class="wave object-contain h-10 w-10 pr-1">
 		</div>
 		<div>
 			<p class="count">{{randomquote.quotes.content}}
 			</p>
 			<p class="sup" align="right"> - {{randomquote.quotes.author.formatted_name}}</p>
 		</div>

 	</body>
 </html>