*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
} 

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
}

body, input {
  display: -webkit-flex;
  font-family: 'Avenir', 'helvetica neue', helvetica, arial, sans-serif;
}

.age-label {
  color: #B0B5B9;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0 0 0 2px;
}

.count {
  color: #494949;
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
}

.sup {
  color: #494949;
  font-size: 1.5rem;
  font-weight: 600;
}

label {
  display: block;
}

input, button {
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
}

input {
  margin-right: 0.5rem;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #CCC;
  background-color: #FFF;
}

button {
  outline: none;
  display: block;
  cursor: pointer;
  color: #FFF;
  border: none;
  border-radius: 0.25rem;
  background-color: #0BE;
}

footer {
  padding-top: 0.5rem;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #494949;
  }

  .count {
    color: #fff;
  }
}

.flex {
    display: flex;
}
.w-10 {
  width: 2.5rem;
}
.h-10 {
  height: 2.5rem;
}
.object-contain {
  object-fit:contain;
}
.pr-1 {
  padding-right: .25rem;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
  animation-play-state: running;
  animation-delay: -1s;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(12deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
